	li.potato-menu-item {
    font-size:12px;
    }
    ul.potato-menu-group {
      border-top: 4px solid #ff0000;
      background: #333;
    }
	
    ul.potato-menu-group a {
      width: 220px;
    }
    .potato-menu a {
      padding:5px 12px 5px 12px;
      background: #333;
      color: #fff;
      
    }
    .potato-menu a:hover {
      background: #666;
    }
    .potato-menu-has-vertical > a {
      background: #333 url(http://labs.makotokw.com/images/icons/fammini/arrow_down.gif) right no-repeat;
      
    }
    .potato-menu-has-holizontal > a {
      background: #333 url(http://labs.makotokw.com/images/icons/fammini/arrow_right.gif) right no-repeat;
    }
    .potato-menu-has-vertical > a:hover {
      background: #666 url(http://labs.makotokw.com/images/icons/fammini/arrow_down.gif) right no-repeat;
      
    }
    .potato-menu-has-holizontal > a:hover {
      background: #666 url(http://labs.makotokw.com/images/icons/fammini/arrow_right.gif) right no-repeat;
    }
    
    ul#menu1 {
		display:none;
	}
	
	ul#menu2{
		display:none;
	}
	
	ul#menu3{
		display:none;
	}
	
	body{
		background:#111111;
		font-family:tahoma;
		font-size:12px;
		color:white;
		text-align: left;
	}
	
	#container{
		margin:auto;
		width:970px;
	}
	
	#header{
		display:none;
	}
	
	#main{
		width:970px;
		height:500px;
		border: 1px solid #fff;
	}
	
	#left{
		display:none;
	}
	
	#training{
		display:none;
	}
	
	#operation{
		display:none;
	}
	
	#programming{
		display:none;
	}
	
	#button a {

		display:none;
	}
	
	.button{
		display:none;
	}
	
	#content {
		width:800px;
		height:500px;
		border: 1px solid #fff;
		float:left;
	}
	
	td{
		border :1px solid #000;
		padding : 5px;
	}
	
	.serial-linux-list{
		list-style-type:decimal !important;
	}
	
	#right{
		display:none;
	}
	
	#footer{
		display: none;
	}